/* You can add global styles to this file, and also import other style files */
html{
    background-color: silver;
    display: flex;
    justify-content: center;
}
button {
    cursor: pointer;
    margin-right: 0.5rem;
}

input {
    margin-right: 0.5rem;
}
